[Unit]
Description=Whisper Simple Dictation Service

[Service]
Type=simple
Environment="WAYLAND_DISPLAY=wayland-0"
ExecStart=/bin/bash /home/USERNAME/apps/whisper-simple-dictation/run_dictation_auto_off.sh en --on-callback 'echo 1 | sudo tee /sys/class/leds/platform::mute/brightness' --off-callback 'echo 0 | sudo tee /sys/class/leds/platform::mute/brightness' --auto-off-time 180 --model large-v3
Restart=no

[Install]
WantedBy=default.target